
*{
    box-sizing: border-box;
}

body{
    width: 100%
}
.navbar{
    background: #F6F7F9;
    color: black;
}
.navbar-nav .nav-item{
    color:black;
}
.nav-item{
    
    text-align: center;
    color: #1A0506;
}

.nav-link.btn-try{
    display: inline-block;
    transition: 0.4s;
    padding: 10px 20px!important;
    border-radius: 10px;
    color: white;
    font-style: normal;
    background-color: #365D7E;
}

.nav-link.btn-try:hover{
    color: #365D7E;
    border: #365D7E;
    background: #fff;
}
.collapse.navbar-collapse{
    margin: 5px;
    
}

.landing-page-1{
    background: transparent linear-gradient(245deg,#ebeef1,#fdfdfe) 0 0 no-repeat padding-box;
    padding-top: 65px;
    width: fit-content;
    
}
section{
    width: fit-content;
    margin-top:35px ;
}
.main-title{
    text-align: justify;
    margin: 25px 0px 0px;
    padding: 10px;
}
.content{
    display: inline;
    text-align: justify;
    margin-left: 87px;
    padding: auto;
}
.img{
    margin-left: 90px;
    border: 40px solid;
    border-color: #EDF0F3;
    border-top-right-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
}
.myHeader .navbar .nav-item a{
    color: black!important;
}
